# Data_Types_Assignement

## Data Types

1. Define each data type, and give an example.

a. **Integers** are data types with number value. They are used to perform operations on whole numbers.
Integers can be positive or negative. *examples 1,2,3,4,5,0,-1,-2,-3,-4,-5* etc.

b. **Floating** Points are data types of number value with decimal places. 
*examples: 1.5, 2.0. 1.25*

c. **Strings** are data types with a sequence of characters. They can be in forms of text or numbers wrapped in either a single quote or double quotes.
*examples: "Folarin" "Gabriel" *

2. What data type is each value? Use the type function to verify.

In [3]:
type(3)

int

In [4]:
type(4.5)

float

In [5]:
type(6.0)

float

In [6]:
type("hello")

str

In [7]:
type("3.14159")

str

In [9]:
import math

In [10]:
type(math.pi)

float

3. Use the type function to identify the data type of each result. Are there any that do not work?

In [11]:
result = 3 + 7

In [29]:
type(result)

str

In [13]:
result = 5 + 6.0

In [28]:
type(result)

str

In [15]:
result = 6/3.0

In [27]:
type(result)

str

In [17]:
result = 6.0//3.0

In [26]:
type(result)

str

In [19]:
result = "Py" + "thon"

In [25]:
type(result)

str

In [30]:
# "High" + 5 cannot be concatenated. so we stringify 5
result = "High" + str(5)

In [31]:
type(result)

str

# # Variables

4. Which variable names are acceptable, and which are not? If a variable name is unacceptable, explain why.

##### Acceptable Variables
Reason: It conforms to the naming convention in python. Variables 

a. num -> normal variable naming convention for single names
b. AGE -> acceptable but often used to signify constant variables
c. FiRsTnAmE -> Camel Casing is acceptable, not a convention
d. _count -> snake casing is acceptable
f. card_2 -> snake casing is the normal variable naming convention for multiple names

##### Unacceptable variables
Reason: It does not conform to the naming convention in python. Variables

g. card 2 -> seperated words cannot be used as variables.
h. lambda -> is a keyword in python and cannot be accepted.

5. Choose a meaningful variable name to represent each scenario.

a. The number of cards dealt to a player.
 Answer a. -> player_cards
b. An employee's monthly salary.
 Answer b. -> monthly_salary
c. The sum of the values rolled by two dice.
 Answer c. -> two_dice_sum
d. The temperature on a hot summer day.
 Answer d. -> summer_day_temp

6. Assign the values x="house", y="boat" and z="ha". What is the result of each statement? Which do not work, and why?

In [33]:
x, y, z = "house", "boat", "ha"

In [37]:
print(x + y)

houseboat

In [38]:
print(y + x)

boathouse

In [39]:
print(z*3)

hahaha

In [ ]:
# d. z*x
# TypeError: Not possible to multiply sequence by non-int of type "str"

In [44]:
# e. x+2
# TypeError: can only concatenate str (not "int") to str

In [45]:
print(y+"2")

boat2

7. Assign the values base=10 and height=5. Calculate the area of a triangle using the formula

In [46]:
# A = 1/2(b)(h)
area = 0.5 * 10 * 5
print(area)

25.0

8. Execute the following sequence of commands in the shell, then state the final value of k.

In [47]:
k = 7

In [48]:
k += 3

In [49]:
k *= 2

In [50]:
k -= 5

In [51]:
k //= 6

In [52]:
print(k)

2

9. Explain why the following run-time error occurs.

> number = 8
> Number += 1
> Traceback (most recent call last):
> File "<pyshell>", line 1, in <module>
NameError: name 'Number' is not define

The name *Number* is not thesame as the variable name *number* due to case sensitivity in python.
*Number += 1* can only be done if variable *Number* was already initialized. but in this case it wasn't, so python tries to find the location name in the memory but couldn't find it and therefore **NameError undefined**.

10. Python is a dynamically-typed language: a variable’s data type can change as necessary. Assign the
value x=4, then use check its type using the type function. What data type is it? Increment x by 1,
using the += operator, then check its type again. Did it change? If so, what data type is it? 
Increment x by 1.0, then check its type. Did it change? If so, what data type is it?

In [53]:
x = 4
type(x)

int

In [54]:
x+=1
type(x)

int

x data type did not change since the value added to "x" is the same data type as already in "x"

In [55]:
x += 1.0
type(x)

float

x data type changed since the value added to "x" is not the same data type as already in "x". hence changing the value in x to the data type float. since float is higher in the data pecking order